#status {
  height: 174.5px;
}

#status_top,
#status_bottom {
  left: 3%;
}

#score .status-border-bottom,
#point .status-border-bottom {
  min-width: 4.2em;
}

#score,
#point {
  width: 30%;
}

#status [id*="_value"] {
  letter-spacing: 1px;
}

.status-border-bottom {
  border-top: solid thin;
  position: absolute;
  bottom: -1px;
  min-width: 2.5em;
  left: -1px;
}

.label {
  position: relative;
  right: 8px;
}

#type_speed .label {
  letter-spacing: 0.2em;
}
