#main_word::before,
#sub_word::before,
#lyrics::before,
#next_lyrics::before,
#next_kpm::before {
  content: "\200B";
}
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
}

.lyrics-font {
  font-family: "Nunito", "system-ui", sans-serif;
}

progress {
  appearance: none;
  height: 0.6rem;
  outline: solid 1.5px #000;
  border-radius: 5px;
}

progress::-webkit-progress-bar {
  background: #375a7f52;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.outline-text {
  text-shadow:
    1px 1px 0px #000000,
    -1px 1px 0px #000000,
    1px -1px 0px #000000,
    -1px -1px 0px #000000,
    1px 0px 0px #000000,
    0px 1px 0px #000000,
    -1px 0px 0px #000000,
    0px -1px 0px #000000;
}

.word-font {
  font-family:
    Segoe UI,
    "Yu Gothic",
    "YuGothic",
    sans-serif;
  font-weight: 600;
  font-variant: no-common-ligatures;
}
