#main_word::before,
#sub_word::before,
#lyrics::before,
#next_lyrics::before,
#next_kpm::before {
  content: "\200B";
}

progress {
  appearance: none;
  height: 0.6rem;
  outline: solid 1.5px #000;
  border-radius: 5px;
}

progress::-webkit-progress-bar {
  background: #375a7f52;
}

progress::-webkit-progress-value {
  background: #4d97e6;
  border-radius: 5px;
}

.outline-text {
  text-shadow:
    black 0.6px 0px,
    black -0.6px 0px,
    black 0px -0.6px,
    black 0px 0.6px,
    black 0.6px 0.6px,
    black -0.6px 0.6px,
    black 0.6px -0.6px,
    black -0.6px -0.6px,
    black 1px 0.6px,
    black -1px 0.6px,
    black 1px -0.6px,
    black -1px -0.6px,
    black 0.6px 1px,
    black -0.6px 1px,
    black 0.6px -1px,
    black -0.6px -1px;
}

.word-font {
  font-family:
    Segoe UI,
    "Yu Gothic",
    "YuGothic",
    sans-serif;
}
